/* CSS declarations go here */

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

u1 {
    list-style-type: none;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Add a color to the active/current link */

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.intro-banner {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: whitesmoke;
    background: url(write.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.about {
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.message {
    font-size: 14px;
}

.project-banner {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    background: url(project.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}